*, *::before, *::after {
  box-sizing: border-box;
}

html,
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1.5;
  font-family:'Roboto Mono', 'Roboto', 'Noto Sans TC', $font-family-sans-serif;
}

small {
  font-size: .875rem;
}

h1,h2,h3,h4,h5,h6 {
  // line-height: 1.2;
  font-weight: bold;
}

img {
  max-width: 100%;
  // width: 100%;
  height: auto;
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
  transition: .5s;
}