<footer class="footer">
  <div class="container py-4 py-md-6">
    <div
      class="d-flex flex-column flex-md-row justify-content-md-between position-relative"
    >
      <div class="d-md-flex align-items-md-center">
        <p class="logo me-4 mb-0">
          <a href="./index.html" class="text-reset">EXHIBINECTION</a>
        </p>
        <p class="mb-0 lh-base font-roboto">© 2020. All Rights Reserved.</p>
      </div>
      <div class="d-none d-md-block">
        <ul
          class="nav align-items-center position-absolute h-100 my-auto top-0 end-0"
        >
          <li class="nav-item d-none d-md-block">
            <a
              class="nav-link p-0"
              data-bs-toggle="modal"
              data-bs-target="#loginModal"
              href="#"
              >Sign in</a
            >
          </li>
          <li class="nav-item d-none d-md-block ms-7">
            <a
              class="nav-link p-0"
              data-bs-toggle="modal"
              data-bs-target="#registerModal"
              href="#"
              >Sign up</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
