<section>
  <div class="container h-100 text-white d-flex align-items-end align-items-md-center px-xxl pb-md-10">
    <div class="row flex-grow-1">
      <div class="col-md-11 ms-auto">
        <h2>台北當代藝術展</h2>
        <p class="">01 JUN - 31 OCT</p>
        <div class="d-flex">
          <a href="#" class="btn btn-secondary px-md-10 py-xs me-2"></a>
        
        </div>
      </div>
    </div>
  </div>
</section>