// tDesign 台味設計
.tDesign {
  padding: 80px 0 52px 0;
  .tDesign_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// pad(992)
// @include pad{
//   .container{
//     max-width: 940px;
//   }
// }

// mobile(768)
// @include mobile{
//   .tDesign{
//       padding: 44px 0;
//     }
//   .container{
//     max-width: 100%;
//     .tDesign_date{
//       display: flex;
//       flex-direction: row;
//       align-items: flex-end;
//       justify-content: flex-start;
//       margin: 16px 0 8px 0;
//     }
//   }
// }

// mobile-s(375)
// @include mobile-s{
//   .design_word{
//     margin-right: 4px;
//   }
// }

.one_hover{
  &:hover{
    color: $secondary!important;

  } 
}

/*-------------------------------*/
//online 線上設計
.online {
  padding: 80px 0 52px 0;
  .online_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// // pad(992)
// @include pad{
//   .container{
//     max-width: 940px;
//   }
// }

// // mobile(768)
// @include mobile{
//   .online{
//       padding: 44px 0;
//     }
//   .container{
//     max-width: 100%;
//     .online_date{
//       display: flex;
//       flex-direction: row;
//       align-items: flex-end;
//       justify-content: flex-start;
//       margin: 16px 0 8px 0;
//     }
//   }
// }

/*-------------------------------*/
//kaohsiung 高雄設計
.kaohsiung {
  padding: 80px 0 52px 0;
  .kaohsiung_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

// // pad(992)
// @include pad{
//   .container{
//     max-width: 940px;
//   }
// }

// // mobile(768)
// @include mobile{
//   .kaohsiung{
//       padding: 44px 0;
//     }
//   .container{
//     max-width: 100%;
//     .kaohsiung_date{
//       display: flex;
//       flex-direction: row;
//       align-items: flex-end;
//       justify-content: flex-start;
//       margin: 16px 0 8px 0;
//     }
//   }
// }
