// tDesign 台味設計
.tDesign {
  padding: 80px 0 52px 0;
  .tDesign_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.one_hover{
  &:hover{
    color: $secondary!important;

  } 
}

/*-------------------------------*/
//online 線上設計
.online {
  padding: 80px 0 52px 0;
  .online_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}


/*-------------------------------*/
//kaohsiung 高雄設計
.kaohsiung {
  padding: 80px 0 52px 0;
  .kaohsiung_date{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

