.text-uppercase {
  text-transform: uppercase;
}
.text-italic {
  font-style: italic;
}
.text-normal {
  font-style: normal;
}
// 字重
.fw-300{
	font-weight: 300;
}
.fw-400{
	font-weight: 400;
}
.fw-500{
	font-weight: 500;
}
.fw-700{
	font-weight: 700;
}
.fw-900{
	font-weight: 900;
}
.lh-0{
	line-height: 0;
}
// 行高
.lh-s{
	line-height: 24px;
}
.lh-m{
	line-height: 28px;
}
.lh-l{
	line-height: 30px;
}
.lh-xl{
	line-height: 36px;
}
.lh-2xl{
	line-height: 42px;
}
.lh-3xl{
	line-height: 48px;
}
.lh-4xl{
	line-height: 54px;
}
// 字體大小
.font-s{
  font-size: $font-s;
}
.font-base{
  font-size: $font-base;
}
.font-m{
  font-size: $font-m;
}
.font-l{
  font-size: $font-l;
}
.font-xl{
  font-size: $font-xl;
}
.font-2xl{
  font-size: $font-2xl;
}
.font-3xl{
  font-size: $font-3xl;
}
.font-4xl{
  font-size: $font-4xl;
}
// 字體大小 rfs
.h1 {
  @include rfs(3.2rem !important);
}
.h2 {
  @include rfs(2.8rem !important);
}
.h3 {
  @include rfs(2.4rem !important);
}
.h4 {
  @include rfs(2.2rem !important);
}
.h5 {
  @include rfs(2rem !important);
}
.h6 {
  @include rfs(1.8rem !important);
}
.Noto {
  font-family: 'Noto Sans TC', sans-serif !important;
}
.Roboto{
  font-family: 'Roboto', sans-serif !important;
}
.Baloo {
  font-family: 'Baloo Tamma 2', cursive !important;
}
