@mixin text-hide {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 文字大小／行距
@mixin fontSize($size, $height) {
  font-size: $size;
  line-height: $height;
}

// 物件寬高
@mixin width($width, $height) {
  width: $width;
  height: $height;
}