@mixin text-hide {
  text-indent: 110%;
  overflow: hidden;
  white-space: nowrap;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// 文字大小／行距
@mixin fontSize($size, $height) {
  font-size: $size;
  line-height: $height;
}

// 物件寬高
@mixin width($width, $height) {
  width: $width;
  height: $height;
}

// 背景 size 位置 置中並 cover
@mixin banner {
  background-size: cover;
  background-position: center center;
}

@mixin linkLine($bottom) {
  padding-bottom: $bottom;
  background: linear-gradient(to left, $secondary, $secondary);
  background-repeat: no-repeat;
  background-position: 0 90%;
  background-size: 0 0.1rem;
  transition: background-size .3s;

  &:hover,
  &.active {
    background-size: 100% 0.1rem;
  }
}