.bg-cover {
  background-size: cover;
  background-position: center center;
}

.word-break {
  word-break: break-all !important;
}

.white-space-normal {
  white-space: normal !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}