$utilities: map-merge($utilities,
  ('width': (responsive: true,
      property: width,
      class: w,
      values: (25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        1: 5rem,
        2: 10rem,
        3: 15rem,
        4: 20rem,
        5: 25rem,
        6: 30rem,
      ),
    ),
    'height': (responsive: true,
      property: height,
      class: h,
      values: (25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto,
        0: 0,
        1: 0.8rem,
        2: 1.6rem,
        3: 2.4rem,
        4: 3.2rem,
        5: 4.8rem,
        6: 6.4rem,
      ),
    ),
    'letter-spacing': (property: letter-spacing,
      class: ls,
      values: (0: 0,
        1: 1px,
        2: 2px,
        3: 3px,
        4: 4px,
        5: 5px,
      ),
    ),
    "line-height": (property: line-height,
      class: lh,
      values: (1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
        2: 1.25,
        3: 1.5,
        4: 1.75,
        5: 2,
        6: 2.25,
        7: 2.5,
      )),
    "font-family": (property: font-family,
      class: font,
      values: (monospace: var(--#{$variable-prefix}font-monospace),
        Noto: var(--#{$variable-prefix}font-family-noto-sans),
        Roboto : var(--#{$variable-prefix}font-family-Roboto)),
    ),
    '-font-size': (responsive: true,
      rfs: false,
      property: font-size,
      class: fz,
      values: (s: 1.4rem,
        base: 1.6rem,
        m: 2rem,
        l: 2.4rem,
        xl: 2.8rem,
        "2xl": 3.2rem,
        "3xl": 3.6rem,
        "4xl": 4rem,
      ),
    ),
    'z-index': (property: z-index,
      class: z,
      values: (0: 0,
        10: 10,
        20: 20,
        30: 30,
        40: 40,
        50: 50,
        99: 99,
        max: 999,
        auto: auto,
      ),
    ),
    'rounded': (responsive: true,
      property: border-radius,
      class: rounded,
      values: (null: $border-radius,
        0: 0,
        1: $border-radius-sm,
        2: $border-radius,
        3: $border-radius-lg,
        4: 0.4rem,
        5: 0.5rem,
        circle: 50%,
        pill: $border-radius-pill,
      ),
    ),
    'object-fit': (property: object-fit,
      class: object,
      values: (contain,
        cover,
        fill,
        none,
        scale-down,
      ),
    ),
    'cursor:': (property: cursor,
      class: cursor,
      values: (help,
        move,
        pointer,
        crosshair,
        auto,
      ),
    ),
  ));
