//*-------------------------*/
//* modal
//*-------------------------*/
// navbar modal
.modal{
  .modal-header{
    border-top: 0.4rem solid $secondary;
  }
  .modal-content{
    border-radius: 0.8rem;
    overflow: hidden;
  }
  .form-control{
    line-height: 2.2;
    background-color: #F7F7F7;
  }
  .progress{
    height: 0.1rem;
  }
  .progress-bar{
    background-color: #E8E8DB ;
  }
}
