.nav-scroller {
  overflow-y: hidden;  /* 隱藏下方捲軸 */
  height: 3.25rem;
  background-color: $white;
}


.scrollmenu {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  background-color: $white;
  
  padding-bottom: 0.45rem;  /* 隱藏下方捲軸 */

  text-align: center;
  -webkit-overflow-scrolling: touch;

  @include media-breakpoint-up(md) {
    justify-content: center;
  }

  &_link {
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    // 縮寫
    // background: linear-gradient(to left,
    //   $secondary, $secondary) 
    //   no-repeat 0 90% / 0 0.1rem;
    background: linear-gradient(to left, $secondary, $secondary);
    background-repeat: no-repeat;
    background-position: 0 90%;
    background-size: 0 0.1rem;
    transition: background-size .3s;

    &:hover,
    &.active {
      background-size: 100% 0.1rem;
    }
  }
}