<!--footer-->
<footer>
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-md-center flex-column flex-md-row ">
        <h3 class="footer_title fs-4 my-md-7 mb-0 mt-4 me-md-3 fw-normal">EXHIBINECTION</h3>
        <p class="footer_date my-md-7 fw-normal mb-4">© 2020. All Rights Reserved.</p>
      </div>
      <div class="footer_button d-none d-md-flex">
        <a href="#" class="footer_item text-gray-600 my-7">Sign in</a>
        <a href="#" class="footer_item text-gray-600 my-7 ms-4">Sign up</a>
      </div>
    </div>
  </div>
</footer>
