<div class="nav-scroller border-bottom border-gray-600 sticky-md-top  <%= current === 'checkout' ? 'd-none' : 'true' -%>">
  <ul class="scrollmenu nav">
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">音樂</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">戲劇</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="./design.html">設計</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">藝術</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">美食</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">旅遊</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">電影</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">親子</a>
    </li>
    <li class="nav-item me-mdx1">
      <a class="nav-link scrollmenu_link py-14o px-18o" href="#">期間限定</a>
    </li>
  </ul>
</div>