<!--section like 輪播-->
<!--swiper-->
<div class="container mb-12 overflow-hidden  <%= current === 'checkout' ? 'd-none' : 'true' -%>">
  <h2 class="fs-5 fw-bolder mt-4 mt-md-12 mb-4 mb-md-6">猜你也喜歡...</h2>
  <div class="row">
    <div class="col-12 col-md-11 offset-md-1">
      <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1492087368735-957f2d176504?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=960&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1578402025217-920675beb3c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1065&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <!--第二輪-->
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1492087368735-957f2d176504?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=960&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1578402025217-920675beb3c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1065&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <!--第三輪-->
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1492087368735-957f2d176504?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=960&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1567722681579-c671cabd2810?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="card border-0">
              <img
                src="https://images.unsplash.com/photo-1578402025217-920675beb3c3?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1065&q=80"
                class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">No.22 線上設計展</h5>
                <p class="card-text">$350</p>
              </div>
            </div>
          </div>
          <!--end-->
        </div>
      </div>
    </div>
  </div>
</div>