<div class="row <%= current !== 'checkout' ? 'd-none' : 'true' -%>">
  <div class="col-lg-8">
    <div class="row g-0 timeline position-relative pt-5 pb-7 pt-lg-5 pb-lg-7">
      <div class="col-3 active">
        <div class="timeline-point">
          <p class="fs-xs fs-lg-1">確認訂單</p>
        </div>
      </div>
      <div class="col-3">
        <div class="timeline-point">
          <p class="fs-xs fs-lg-1">填寫訂購資訊</p>
        </div>
      </div>
      <div class="col-3">
        <div class="timeline-point">
          <p class="fs-xs fs-lg-1">填寫付款資訊</p>
        </div>
      </div>
      <div class="col-3">
        <div class="timeline-point">
          <p class="fs-xs fs-lg-1">完成訂購</p>
        </div>
      </div>
    </div>
  </div>
</div>