<!-- class 裡面 -->
<!-- <%= current !=='checkout' ? 'd-block' : 'd-none' -%> -->

<div class="topNavBar border-bottom border-gray-600">
  <div class="container">
    <header class="my-6 position-relative">
      <h1 class="text-primary text-center fw-normal fs-22o fs-md-3">
        <a href="./index.html" class="text-reset">EXHIBINECTION</a>
      </h1>
      <ul class="nav align-items-center position-absolute h-100 my-auto top-0 end-0">
        <li class="nav-item d-none d-md-block">
          <a class="nav-link p-0" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Sign in</a>
        </li>
        <li class="nav-item d-none d-md-block ms-7">
          <a class="nav-link p-0" href="#" data-bs-toggle="modal" data-bs-target="#registerModal">Sign up</a>
        </li>
        <li class="nav-item ms-7">
          <a class="nav-link p-0 position-relative" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
            <span class="material-icons text-black">confirmation_number</span>
            <span class="shopping__num">1</span>
          </a>
        </li>
      </ul>
    </header>
  </div>
</div>